<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hwhong.balance">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="25" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SetupViews.EmailActivity" />
        <activity android:name=".SetupViews.ProfileActivity" />
        <activity android:name=".SetupViews.NameActivity" />
        <activity android:name=".SetupViews.PhoneActivity" />
        <activity android:name=".SetupViews.VerificationActivity" />
        <activity android:name=".SetupViews.DobActivity" />
        <activity android:name=".SetupViews.AddressActivity" />
        <activity android:name=".SetupViews.CitizenshipActivity" />
        <activity android:name=".SetupViews.SSNActivity" />
        <activity android:name=".SetupViews.CompletionActivity" />
        <activity android:name=".PostSetUp.ValuesActivity" />
        <activity android:name=".PostSetUp.PagerActivity" />
        <activity android:name=".PostSetUp.CreditCardActivity" />
        <activity
            android:name=".PostSetUp.HeroPage"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name=".SetupViews.HeroVerify"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name=".MainScreens.NavigationDrawerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainScreens.ShareBalanceActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"></activity>
    </application>

</manifest>